.tool-panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -5px;
  margin-right: -5px;

  &__item {
    flex-shrink: 0;
    margin: 0 10px 10px;
    box-sizing: border-box;
    overflow:auto;

    &_active {
      background-color: #282c34;
      color: white;
    }
  }
}