.text-editor {
  border: 1px solid black;
  padding: 15px;
  cursor: text;
  box-shadow:  4px 4px #282c34;
  width: 850px;

  @media screen and (max-width: 890px) {
    width: 93%;
  }
}

.public-DraftEditor-content {
  min-height: 100px;
}